<div class="page-header">
  <h1>Einstellungen</h1>
</div>
<div class="row">

  <div class="form-horizontal container">
    <fieldset>



      <!-- Multiple Checkboxes -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="checkboxes">Todo-Liste</label>
        <div class="col-md-4">
          <div class="checkbox">
            <label for="checkboxes-0">
          <input [(ngModel)]="listSort" type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
          Fertige Todos nach unten verschieben
        </label>
          </div>
          <div class="checkbox">
            <label for="checkboxes-1">
          <input [(ngModel)]="showDelete"  type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
          Löschen-Button anzeigen
        </label>
          </div>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <button (click)="save()" id="singlebutton" name="singlebutton" class="btn btn-primary">speichern</button>
        </div>
      </div>

    </fieldset>
  </div>


</div>
<div class="row">
  <div class="container">

    <h3>Dev-Funktionen</h3>
    <ul>
      <li><a href="#" (click)="deleteAll()"> alle löschen </a></li>
      <li><a href="#" (click)="genTestData()"> Testdaten anlegen </a></li>
    </ul>
  </div>
</div>
