<span class="glyphicon glyphicon-flash" (click)="select(1)" [class.selected]="currentlySelectedPriority===1">
</span>
<span class=" glyphicon glyphicon-flag" (click)="select(2)" [class.selected]="currentlySelectedPriority===2"></span>
<span class="glyphicon glyphicon-hand-up" (click)="select(3)" [class.selected]="currentlySelectedPriority===3"></span>
