<app-navbar>
</app-navbar>
<div class="container pull-left">
  <div class="row">
    <app-message-box></app-message-box>
    <div class="col-lg-2 col-md-2 col-xs-12">
      <app-category-chooser-side-bar></app-category-chooser-side-bar>
    </div>
    <div class=" col-lg-10 col-md-10 col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>