<span *ngIf="value===1" class="glyphicon glyphicon-flash"></span>
<span *ngIf="value===2" class=" glyphicon glyphicon-flag"></span>
<span *ngIf="value===3" class="glyphicon glyphicon-hand-up"></span>
